%section.py-5
  .container
    .d-flex.justify-content-between
      %h3.font-weight-bold= t('title.award')
      - if can? :create, Award
        = link_to '추가하기', new_award_path

    %p= t('title.award_sub')


    %section
      = render "candidates/search_form"

    .my-3
      = render @awards