.col-6.col-sm-2.mb-4
  .card[candidate]
    = link_to candidate do
      = image_tag candidate.thumb, class: 'card-img-top'
    .card-body
      .card-title
        = candidate.no
        = candidate.name
      = candidate.cname
      - if @district.nil?
        = candidate.district.province.name
        = candidate.district.name
      = candidate.party.name