.col-12.col-md-6.col-lg-4.mb-3
  .card[candidate]
    .row.no-gutters
      .col-4
        = link_to candidate do
          = image_tag candidate.thumb, class: 'card-img-top'
      .col-8
        .p-3
          %h5
            %strong= candidate.name
            %small= candidate.party.name

          .text-muted
            %i.fa.fa-map-marker
            = candidate.district.province.name
            = candidate.district.name

          .d-flex.justify-content-between.mt-3
            %span.text-primary
              %i.far.fa-comment-alt-exclamation
                = number_with_delimiter(candidate.trails.count)

            %span.text-primary
              %i.far.fa-crown
                = number_with_delimiter(candidate.awards.count)

            %span.text-success
              %i.far.fa-smile
              = number_with_delimiter(candidate.likes_count)

            %span.text-danger
              %i.far.fa-angry
              = number_with_delimiter(candidate.dislikes_count)
