%section.py-5
  .container
    %table.table.table-bordered.bg-white
      %tr
        %th.text-nowrap 한문
        %td= @candidate.cname
      %tr
        %th.text-nowrap 성별
        %td= @candidate.gender
      %tr
        %th.text-nowrap 나이
        %td= @candidate.age
      %tr
        %th.text-nowrap 주소
        %td= @candidate.address
      %tr
        %th.text-nowrap 직업
        %td= @candidate.job
      %tr
        %th.text-nowrap 학력
        %td= @candidate.education
      %tr
        %th.text-nowrap 경력
        %td
          = raw JSON.parse(@candidate.career).join("<br>")
      %tr
        %th.text-nowrap 재산신고액
        %td #{number_with_delimiter(@candidate.property.to_i*1000)}원
      %tr
        %th 병역신고사항(본인)
        %td= @candidate.military
      %tr
        %th.text-nowrap 납부액
        %td #{number_with_delimiter(@candidate.tax)}원
      %tr
        %th.text-nowrap 최근5년간체납액
        %td #{number_with_delimiter(@candidate.tax_unpaid_5yrs)}원
      %tr
        %th.text-nowrap 현체납액
        %td #{number_with_delimiter(@candidate.tax_unpaid_current)}원
      %tr
        %th 전과기록유무(건수)
        %td #{@candidate.crime}회
      %tr
        %th.text-nowrap 입후보횟수
        %td #{@candidate.candidate_count}회
