- if current_page? root_url
  %section.jumbotron.bg-primary.text-white.rounded-0.m-0.vh-75
    .container
      .py-5.text-center
        = image_tag "logo.png"
        %h2.mt-4
          %span.font-weight-bold 투표대잔치
          %span.font-weight-light 2020
        %p.p-2.lead 투표를 즐기는 색다른 방법

        %p
          = link_to '후보들의 말잔치', '#', class: "btn btn-danger mx-2"
          = link_to '아니, 이런 인물이!', '#', class: "btn btn-success mx-2"

%section.py-5
  .container
    = form_with url: candidates_path, method: :get, local: true do |f|
      .mb-3
        %h6 시도
        .form-group
          = f.select :pid, Province.all.collect{ |p| [p.name, p.id]}, { include_blank: true, selected: @province&.id }, { onchange: "this.form.submit()", class: "form-control" }

    - if @province.present?
      = form_with url: candidates_path, method: :get, local: true do |f|
        .my-3
          %h6 선거구
          .form-group
            = f.select :did, @province.districts.collect{ |d| [d.name, d.id]}, { include_blank: true, selected: @district&.id }, { onchange: "this.form.submit()", class: "form-control" }

    %hr

    = form_with url: candidates_path, method: :get, local: true do |f|
      .my-3
        %h6 후보명으로 검색해보세요.
        .form-group
          = f.text_field :name, value: params[:name], class: "form-control"
        .form-group
          = f.submit "검색", class: "btn btn-outline-primary"

    .row.mt-5
      = render @candidates