%section.py-4.bg-light
  .container
    .d-flex.justify-content-start
      = image_tag @candidate.thumb, height: 150, class: 'mr-3'

      %div
        %h3.font-weight-bold
          = @candidate.name
          %small{ style: "font-size:0.6em;" }= @candidate.party.name

        .my-2
          = link_to candidates_path(did: @candidate.district) do
            %i.fa.fa-map-marker
            = @candidate.district.province.name
            = @candidate.district.name

        .my-3
          = link_to candidate_path(@candidate), class: "btn btn-lg btn-danger text-white mr-2" do
            %i.fas.fa-comment-alt-exclamation
            = number_with_delimiter(@candidate.trails.count)

          = link_to candidate_path(@candidate), class: "btn btn-lg btn-primary text-white" do
            %i.fas.fa-crown
            = number_with_delimiter(@candidate.awards.count)

        .votes.mt-2
          %span.mr-2.text-primary
            %i.far.fa-smile
            = number_with_delimiter(@candidate.likes_count)

          %span.text-danger
            %i.far.fa-angry
            = number_with_delimiter(@candidate.dislikes_count)


%section.tab.py-3.border-bottom
  .container
    .d-flex.justify-content-start
      .nav.nav-pills.nav-fill
        .nav-item
          = link_to candidate_path(@candidate, page: "info"), class: class_string({"nav-link" => true, active: params[:page] == "info"}) do
            후보 정보
        .nav-item
          = link_to candidate_path(@candidate), class: class_string({"nav-link" => true, active: params[:page].nil?}) do
            후보 팩트체크
        .nav-item
          = link_to candidate_path(@candidate, page: "awards"), class: class_string({"nav-link" => true, active: params[:page] == "awards"}) do
            후보 어워드

= render @page