%section.py-5
  .container
    %h3.font-weight-bold= t('title.trail')
    %p= t('title.trail_sub')

    %section.my-3
      = render "trails/best"

    %section.my-3
      = render "trails/search_form"

    .my-3
      = render @trails, show_candidate: true