%header
  %nav.navbar.fixed-top.navbar-dark.bg-primary.justify-content-start
    %button.navbar-toggler.p-0.border-0.mr-2{"data-toggle" => "offcanvas", :type => "button"}
      %span.navbar-toggler-icon

    .navbar-collapse.offcanvas-collapse
      %ul.navbar-nav
        %li.nav-item.mt-4
          %h6.text-light.my-2.font-weight-bold
            커뮤니티
        %li.nav-item
          = link_to '우주당 카누', 'https://wouldyou.parti.xyz', target: '_blank', class: 'nav-link text-white'

        %li.nav-item.mt-4
          %h6.text-light.my-2.font-weight-bold
            월간 우주당 2020-4
        %li.nav-item
          .text-white
            준비 중입니다

        %li.nav-item.mt-4
          %h6.text-light.my-2.font-weight-bold
            21대 국회
        %li.nav-item
          = link_to '후보 검색', candidates_path, class: 'nav-link text-white'
        %li.nav-item
          = link_to t('title.trail'), trails_path, class: 'nav-link text-white'
        %li.nav-item
          = link_to t('title.award'), '#', class: 'nav-link text-white'

        %li.nav-item.mt-4
          %small.text-light
            %i.far.fa-user
        - if user_signed_in?
          %li.nav-item
            .nav-link.text-white
              = current_user.name
              (#{current_user.email})
          %li.nav-item= link_to t("link.sign_out"), destroy_user_session_path, method: :delete, class: "nav-link text-white"
        - else
          %li.nav-item= link_to t("link.sign_in"), new_user_session_path, class: "nav-link text-white"

    = link_to "우주당 2020", root_path, class: "navbar-brand"
