!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %title 우주당 2020
    = csrf_meta_tags
    = csp_meta_tag
    = render "google_analytics"
    = javascript_pack_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/d1995cff7d.js"}
  %body
    = render "header"
    %main
      - if current_page? root_url
        %section.jumbotron.bg-primary.text-white.rounded-0.m-0.vh-75
          .container
            .py-5.text-center
              = image_tag "wyp_logo.png"
              %h2.mt-4


      = yield
    = render "modals"
